@import "./variables";

body {
  font-family: $body-font-family;
}

.container {
  max-width: $max-width;
  margin: auto;

  header {
    display: flex;
    justify-content: space-between;

    .signinBtn {
      background-color: $primaryBtnColor;
      border: $primaryBtnBorder;
      padding: $primaryBtnPadding;
      font-weight: $primaryBtnFontWeight;
      font-display: Arial;
      color: white;
      border-radius: 4px;
      cursor: pointer;
    }

  }
}